{% extends 'base.html.twig' %}

{% block title %}Liste des types{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for type in types %}
        <li>{{ type.type }}</li>
    {% endfor %}
    </ul>
{% endblock %}
