{% extends 'base.html.twig' %}

{% block title %}Liste des roles{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>

    <ul>
    {% for role in roles %}
        <li>{{ role.role }}</li>
    {% endfor %}
    </ul>
{% endblock %}
